<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | Azure Shop</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/cart">Cart</a>
  </nav>
  <main>
    <%- body %>
  </main>
</body>
</html>
